@import "./themeSwitcher/themeSwitcher.scss";

.header{
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  padding: 0 20px;
  transition: all 0.5s ease;
}

.header.dark-theme{
  background-color: $color-background2-dark;
}

.header.light-theme{
  background-color: $color-background2-light;
}

.header__title{
  text-shadow: 10px 10px 30px yellow, -10px -10px 30px blue;
  -webkit-text-fill-color: transparent;
  letter-spacing: 2px;
  transition: inherit;
}

.header__title.dark-theme{
  color: $color-text-dark;
  -webkit-text-stroke: 2px $color-text-dark;
}

.header__title.light-theme{
  color: $color-text-light;
  -webkit-text-stroke: 2px $color-text-light;
}