.slider{
  width: 966px;
  overflow-x: hidden;
  transition: all 0.3s ease;
  position: relative;
}

.tables-wrapper {
  width: calc(966*2);
  display: flex;
  align-items:flex-end;

  transition: margin 0.5s ease;
}

.table-wrapper {
  min-width: 966px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.compatibility-table {
  border-spacing: 5px;
}

.compatibility-table thead tr:first-child th {
  font-size: 1.2em;
}

.compatibility-table thead tr th {
  height: 55.2px;
}

.compatibility-table tbody tr td {
  text-align: center;
}

.row-name{
  text-align: left;
}

.compatibility-table tbody tr td {
  color: white;
  min-width: 78px;
  width: 78px;
  height: 30px;
}

.supported {
  background-color: $color-green-darken;
}

.not-supported {
  background-color: $color-red-darken;
}

.right-arrow, .left-arrow {
  position: absolute;
  font-size: 8em;
  top: 50%;
  transform: translate(0, -50%);
  
  transition: all 0.2s ease;
  cursor: pointer;
}

.right-arrow.disabled, .left-arrow.disabled {
  opacity: 0;
  cursor: default;
  pointer-events: none;
}

.right-arrow:hover, .left-arrow:hover {
  color: gray;
}

.right-arrow {
  right: 0;
}
