.card{
  position: relative;
  width: fit-content;
  height: fit-content;
  border: 5px solid $color-primary;
  border-radius: 20px;
  padding: 1em 2em;
  margin: 2em 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;

  transition: all 0.5s ease;
}

.card.dark-theme{
  color: $color-text-dark;
  background-color: $color-background-dark;
}

.card.light-theme{
  color: $color-text-light;
  background-color: $color-background-light;
}

.card__header{
  font-size: 1.5em;
  font-weight: 800;
}

.card__info{
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.2s ease;
}

.card__info:hover{
  color: gray;
  cursor: pointer;
}

.card__content{
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.card__text{
  font-size: 1.2em;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.card__success {
  color: $color-green;
}

.card__error{
  color: $color-red;
}



.description-wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.6em;
}

code{
  font-size: 1.2em;
  padding: .2em .4em;
  border-radius: 4px;
  white-space: pre;
}

code.dark-theme{
  background-color: $color-code-dark;
}

code.light-theme{
  background-color: $color-code-light;
}

// [data-tooltip] {
//     position: relative; /* Относительное позиционирование */ 
//    }
//    [data-tooltip]::after {
//     content: attr(data-tooltip); /* Выводим текст */
//     position: absolute; /* Абсолютное позиционирование */
//     width: 300px; /* Ширина подсказки */
//     left: 0; top: 0; /* Положение подсказки */
//     background: #3989c9; /* Синий цвет фона */
//     color: #fff; /* Цвет текста */
//     padding: 0.5em; /* Поля вокруг текста */
//     box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Параметры тени */
//     pointer-events: none; /* Подсказка */
//     opacity: 0; /* Подсказка невидима */
//     transition: 1s; /* Время появления подсказки */
//    } 
//    [data-tooltip]:hover::after {
//     opacity: 1; /* Показываем подсказку */
//     top: 2em; /* Положение подсказки */
//    }