.batteryBox{
  height: 100px;
  width: 250px;
  position: relative;
  display: flex;
  align-items: center;
  border-width: 5px;
  border-style: solid;
  border-radius: 5px;

  transition: all 0.5s ease;
}

.batteryBox.dark-theme{
  border-color: white;
}

.batteryBox.light-theme{
  border-color: $color-text-light;
}

.batteryBox::after{
  content: '';
  height: 25px;
  width: 10px;
  position: absolute;
  right: -15px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  
  transition: all 0.5s ease;
}

.batteryBox.dark-theme::after{
  background: white;
}

.batteryBox.light-theme::after{
  background: $color-text-light;
}

.charge{
  height: 100%;
  background: linear-gradient(180deg, green, yellowgreen);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.charge::before{
  content: '';
  height: 100%;
  width: 100%;
  background: rgba(2, 68, 16, 0.2);
  position: absolute;
  animation: animate 4s linear infinite;
}

@keyframes animate {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.batteryBox+.card__text ion-icon{
  fill: orange;
}