.btn{
  width: fit-content;
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  transition: all 0.5s ease;
  font-size: 1rem;
}

.btn.dark-theme{
  background-color: $color-background-light;
  color: $color-text-light;
}

.btn.light-theme{
  background-color: $color-background-dark;
  color: $color-text-dark;
}

.btn:hover{
  background-color: gray;
}

.btn:disabled {
  background-color: gray;
  cursor: default;
  pointer-events: none;
}