@import "./variables.scss";
@import "../layout/layout.scss";
@import "../modules/tools/card/card.scss";
@import "../modules/battery/battery.scss";
@import "../modules/agent/agent.scss";
@import "../modules/specification/specification.scss";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: $color-background-dark;
  font-family: Arial, Helvetica, sans-serif;
}