@import "./variables.scss";

@import "./btn.scss";

@import "../layout/layout.scss";
@import "../modules/tools/card/card.scss";
@import "../modules/tools/popup/popup.scss";
@import "../modules/tools/compatibility/compatibility.scss";
@import "../modules/tools/booleanIcon/booleanIcon.scss";

@import "../modules/battery/battery.scss";
@import "../modules/agent/agent.scss";
@import "../modules/storage/storage.scss";
@import "../modules/clipboard/clipboard.scss";
@import "../modules/geolocation/geolocation.scss";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  transition: all 0.5s ease;
}

body.dark-theme{
  background-color: $color-background-dark;
}

body.light-theme{
  background-color: $color-background-light;
}

ion-icon:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  width: 0;
}