.clipboard-text{
  height: 100px;
  width: 250px;
  resize: none;
  font-size: 1.2em;
  border-radius: 10px;
  padding: 5px;
}

.controls{
  width: 100%;
  display: flex;
  justify-content: space-around;
}
