.content-wrapper{
  display: flex;
  gap: 2em;
  align-items: center;
}

.os-and-device-wrapper{
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.subheader{
  font-size: 1.5em;
  font-weight: bold;
}

.card__text span{
  margin-left: 1em;
  font-weight: normal;
}

h4.card__text{
  font-weight: 600;
}