.popup{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  display: none;
  opacity: 0;
  background: rgba(0, 0, 0, 0.8);
}

.popup__content{
  padding: 1em 2em;
  border-radius: 20px;
  min-width: 350px;
  width: 1030px;
  max-width: 1030px;
  min-height: 250px;
  height: 600px;
  max-height: 600px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  
  animation-duration: 0.5s;
  animation-name: slideIn;
  animation-fill-mode: forwards;

  overflow-y: scroll;
}

.popup__content.dark-theme{
  background-color: $color-background-dark;
}

.popup__content.light-theme{
  background-color: $color-background-light;
}

.popup.active{
  display: flex;
  justify-content: center;
  align-items: center;

  animation-duration: 0.5s;
  animation-name: appear;
  animation-fill-mode: forwards;
}

.popup.remove{
  animation-duration: 0.5s;
  animation-name: disappear;
  animation-fill-mode: forwards;
}

.popup.remove .popup__content{
  animation-duration: 0.5s;
  animation-name: slideOut;
  animation-fill-mode: forwards;
}

.popup__header{
  color: black;
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
   opacity: 1;
  }
}

@keyframes disappear {
  from {
    opacity: 1;
  }

  to {
   opacity: 0;
  }
}

@keyframes slideIn {
  from {
    margin-top: 100%;
  }

  to {
    margin-top: 0;
  }

  40% {
    margin-top: 0;
  }

  60% {
    margin-top: 2%;
  }
}

@keyframes slideOut {
  from {
    margin-top: 0;
  }

  to {
    margin-top: 100%;
  }
}

.popup__content p{
  line-height: 1.3em;
}